@{
    ViewBag.Title = "Página Principal";
}
<style type="text/css">
    #container {
        position: relative;
        overflow: auto;
        scrollbar-base-color: #ffeaff;
    }

    #whiteBoard {
        border: 1px dashed #CCCCCC;
        margin: 5px;
        border-style: dotted;
        border-width: 1px;
        background-color: #FFFFFF;
        vertical-align: top;
    }

    #imageTemp {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 5px;
    }

    #imageTempt {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 5px;
    }

    .ui-widget-overlay {
        opacity: .70;
        filter: Alpha(Opacity=70);
    }
</style>
<table width="100%" id="tableWhiteBoard" class="table" style="float: left">
    <tr>
        <td style="width: 80%">
            <table style="vertical-align: top; width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <img id="imgline" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                             src="/images/line_dim.png" onclick="SelectTool('line'); return false;" />
                        <img id="imgpencil" style="border-color: Gray; border-style: dashed; width: 32px;
                            height: 32px" src="/images/pencil_dim.png" onclick="SelectTool('pencil'); return false;" />
                        <img id="imgrect" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                             src="/images/rect_dim.png" onclick="SelectTool('rect'); return false;" />
                        <img id="imgtext" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                             src="/images/text_dim.png" onclick="SelectTool('text'); return false;" />
                        <img id="imgerase" style="border-color: Gray; border-style: dashed; width: 32px;
                            height: 32px" src="/images/erase_dim.png" onclick="SelectTool('erase'); return false;" />
                        <img id="imgSave" style="border: 0; border-style: dashed; width: 32px; height: 32px"
                             src="/images/save.png" onclick="SaveDrawings(); return false;" />
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <div id="container" style="width: 800px; height: 420px">
                            <canvas id="whiteBoard"></canvas>
                            <div id="status">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top">
            <div id="divShare" style="border-width: 2px; width: 350px; border-color: black; padding: 10px;
                background-color: Silver; color: Teal;">
                <table width="195px" style="table-layout: fixed;">
                    <colgroup>
                        <col style="width: 195px;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span>
                                    <i>
                                        <b>Convide </b>, compartilhe o Desenhei! Usando o link abaixo ou clicando nele para abrir em uma nova janela
                                        e jogar com seus amigos.
                                    </i>
                                    <br />
                                    <a href="@ViewData["url"]" target="_blank">@ViewData["url"]</a>
                                    <br />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div id="divMessage" style="height: 150px; width: 350px; padding: 2px; border: 2px,solid,black;
                background-color: White; overflow: scroll">
            </div>
            <textarea rows="2" cols="25" id="txtMessage" style="width: 220px"></textarea>
            <input type="button" id="btnSend" value="Enviar" />

            <div id="divStatus">
            </div>
            <p>
                &copy; @DateTime.Now.Year - Desenhei ;) by Loading...
            </p>
        </td>
    </tr>
</table>
<input type="hidden" id="sessinId" value="@Session.SessionID" />
<input type="hidden" id="groupName" value="@ViewData["GroupName"]" />
<script type="text/javascript">
    if (Modernizr.canvas) {

    } else {
       document.getElementById('tableWhiteBoard').style.display="none";
       document.write( " Favor usar um navegador com suporte para HTML5. IE8+, Chrome or Firefox 4.0 +.  <br/><br/>@DateTime.Now.Year - Desenhei ;) utiliza HTML5 e SignalR by Loading... ");
      alert("This browser does not support HTML5. Try with higher version.");
    }

</script>


@section scripts {
    <script src="/Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.signalR-1.0.0-rc1.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <script src="~/Scripts/whiteboard_1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Tema opcional -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Última versão JavaScript compilada e minificada -->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>*@
    <input type="hidden" id="userName" value="@ViewData["UserName"]" />
    <div id="dialog-form">
        <div class="modal-header" style="font-size: medium">
            <b>Desenhei, agora tente adivinhar hehe ;D</b>
        </div>
        <br />
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="name" class="form-control-label">Apelido:</label>
                    <input type="text" class="form-control" id="name" maxlength="25">
                </div>                
            </form>
        </div>
        <div class="modal-footer">
            <input id="btnJoin" type="button" class="btn btn-primary btn-lg" value="Entrar">
        </div>
    </div>

}
